.SEYgrey {
    color: #AAA7AE !important;
}

.SEYpurple {
    color: #E37EF5 !important;
}

.hero-has-background {
    background-image: url("images/edmonton.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.about-us-hero-has-background {
    background-image: url("images/aboutus.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.projects-hero-has-background {
    background-image: url("images/projects.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-item:hover {
    background-color: grey !important; 
    color: black !important;
}

.navbar {
    padding: 0;
}

.has-background-SEYgrey {
    background-color: #AAA7AE !important;
}
.has-background-SEYpurple {
    background-color: #E37EF5;
}

.has-background-mypurple {
    background-color: #CB6CE6;
}

.button:hover {
    background-color: white !important;
    color: #E37EF5 !important;
}

.SEYbutton {
    background-color: #E37EF5 !important;
    color: white !important;
}

.impact-pics {
    float: left !important;
    width:  450px !important;
    height: 370px !important;
    background-size: cover !important;
    margin-bottom: 0 !important;
}

.card-footer-item:hover {
    background-color: grey !important;
}